<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="kr.co.hotel.mapper.CaskMapper">
 
    <!-- 글작성 -->
   <insert id="qna_write_ok" parameterType="kr.co.hotel.vo.CaskVO">
     insert into cusask(title, content, userid, gubun, writeday)
      values(#{title}, #{content}, #{userid}, #{gubun}, now())
   </insert>
   
    <!-- 문의 리스트 -->
    <!-- 고객용 -->
   <select id="qna_list_cus" resultType="kr.co.hotel.vo.CaskVO">
     select * from cusask order by id desc where userid=#{param1}
   </select>
    <!-- 관리자용 -->
   <select id="qna_list_ad" resultType="kr.co.hotel.vo.CaskVO">
     select * from cusask order by id desc 
   </select>
   
    <!-- 문의 내용/ content& update -->
   <select id="qna_content" resultType="kr.co.hotel.vo.CaskVO">
    select * from cusask where id=#{param1}
   </select>
    <!-- 문의 삭제 -->
   <delete id="qna_delete">
     delete from cusask where id=#{param1}
   </delete>
    <!-- 문의 수정 -->
   <update id="qna_update_ok">
     update cusask set title=#{title}, content=#{content}, gubun=#{gubun} where id=#{id} 
   </update>
   
 </mapper>